/* General */

body {
  margin: 0;
  padding: 0;
  color: #525252;
  font-family: 'Roboto', sans-serif;
  --webkit-font-smoothing: antialised;
}


/* Layout */

.blog-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* Blog Specific */

.blog {
  margin: 0 40px;
}


.blog p {
  font-size: 13px;
  line-height: 1.9;
  margin: 10px 0 20px;
}

.blog a {
  text-decoration: none;
  color: inherit;
  border-bottom: solid 3px #397fda;
  background-color: rgba(57,127,218, .35);
  padding: 0 10px;
  display: inline-block;
  transition: all .4s ease-in-out;
}

.blog a:hover {
  background-color: rgba(57,127,218, .7);
}

/* Dark mode */

.dark {
  background-color: #222;
  color: white;
}